
*.apk
*.ap_
*.aab

*.iml
/.idea

.gradle
/local.properties
.DS_Store
.gradle/

/build
/captures
.externalNativeBuild
.cxx
local.properties
*/core/build
*/data/build
*/presentation/build
*/build

.kotlin
